<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
    <link rel="stylesheet" type="text/css" href="connect4.css">
  </head> 

  <body ng-controller="snakeCtrl">

    <div id="gameContainer">
      <div>
          <div class="column" ng-repeat="column in board" ng-click="placeToken($index)">
              <div ng-style="setStyling(val)" class="circle" ng-repeat="val in column track by $index">&nbsp</div>
          </div>
      </div>
    </div>
    <div id="startGame" ng-click="newGame()">New Game</div>
    Player Turn : {{player === 1 ? 'Red' : 'Black'}}

    <script src="angular.min.js"></script>
    <script src="connect4.js"></script> 
  </body>

</html>
